:root {
    /* declare a variable with `--` syntax */
    --headtext: rgb(179, 218, 255);
    --background: #4a5158;
    --light: rgb(255, 255, 255);
    --linear-gradient: linear-gradient(
        rgba(102, 171, 236, 0.3) 0%,
        rgba(102, 171, 236, 0.6) 100%
        );
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

header {
    padding: 40px;
    text-align: center;
    color: var(--headtext);
}

header p {
    text-align: center;
    color: var(--light);
}

.row {
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
}

.card-header {
    border: 3px solid;
    border-color: var(--light);
    background-color: var(--background);
    color: var(--headtext);
    text-align: center;
    margin-top: -20px;
}

.code-card {
    flex: 1 0 300px;
    margin: 30px;
    padding: 0 10px;
    text-align: left;
    border: 2px dashed;
    border-color: var(--light); 
}

.code-card > p {
    color: var(--headtext);
    text-align: left;
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(102, 171, 236, 1), 0 0 15px
    rgba(102, 171, 236, 1);
}


pre {
    white-space: pre-line;
    font-size: 1em;
    color: var(--light);
    border-radius: 8px;
    background-image: var(--linear-gradient);
    font-family: monospace;
}
/*Solution:https://www.w3schools.com/cssref/css3_pr_user-select.asp#gsc.tab=0*/
.all {
    -webkit-user-select: all; /* Safari */
    -ms-user-select: all; /* IE 10 and IE 11 */
    user-select: all; /* Standard syntax */
}
footer {
    color: var(--headtext);
    text-align: center;
}

/* Changes the width of the cards so they split into one columns at 768px or smaller*/
/* Credit: https://www.w3schools.com/css/css3_mediaqueries_ex.asp*/
@media screen and (min-width: 768px) {
    .card {
      width: 100%;
    }
}
/* Changes the width of the cards so they split into one columns at 768px or larger*/
@media screen and (max-width: 768px) {
    .card {
      width: 50%;
    }
}
  /* Changes the width of the cards so they are stacked on top of each other at 992px or larger */
@media screen and (max-width: 992px) {
    .card {
      width: 100%;
    }
}
